#about
  background: $white
  color: $text_lightgrey
  padding: 5em 0 0
  font-family: $mont
  
  h2
  h3
  dt
    color: $text_darkgrey
  
  > h2
  > h3
    padding: 0 1em 0
    margin: 0
    
  > div
    padding: 0 2em 3em
    
    h3
    p
    ul
      font-size: 1.4em
      line-height: 2
    
    &.intro
      padding: 0
      margin: 0 2em
      
      p
        font-size: 1.8em
        line-height: 1.4
    
    > div
      -moz-column-count: 2
      -webkit-column-count: 2
      column-count: 2
      
      > div
      > p
        display: inline-block
  
  h2
    font-size: 2.4em
    line-height: 1
    text-transform: none
    margin-bottom: 1.1em
  
  .questions
  .project
  .people
    background: $bg_lightgrey
    
  .project
    padding-bottom: 0
  
    > div
      border-bottom: 1px solid grey
      padding-bottom: 4em
  
  .people
  
    dd
    dt
      margin: 0 0 1em
      font-size: 1.4em
      line-height: 2
    
    > div
      -moz-column-count: 3
      -webkit-column-count: 3
      column-count: 3