date = purple
place = green
person = red
activity = blue

.zoom-controls
  position:absolute
  top: 5px;
  left: 5px

ul.categories
  position: absolute
  top: 5px
  right: 5px
  list-style-type: none
  
  li
    display: inline-block
    
    label
      font-family: 'Helvetica Neu', 'Helvetica', 'Arial', serif
      background-color: #333
      color: #fff
      padding: 3px;
      opacity: .7
    
    &.date label
      background-color: date
    &.place label
      background-color: place
    &.person label
      background-color: person
    &.activity label
      background-color: activity
      
    
    input[type=radio]
      display: none
      
      &:checked + label
        font-weight: bold
        opacity: 1
        
.marking-tool-controls
  max-width: 120px
  background-color: #fff
  border: 1px solid #000
  
  button
    background-color: #333
    color: #fff
    border: 1px solid #000
    
  &.date button
    background-color: date
  &.place button
    background-color: place
  &.person button
    background-color: person
  &.activity button
    background-color: activity
    
.marking-tool-controls.closed
  input
  button[name=delete-mark]
    display:none