date = purple
place = green
person = red
activity = blue

.ui-widget
  font-size .8em

.zoom-controls
  position:absolute
  top: 5px;
  left: 5px

.subject-container
  width: 1024px
  height: 560px
  overflow: hidden
  
  img
    max-width: 1024px
    max-height: 560px
  
ul.categories, ul.documents
  position: absolute
  top: 5px
  right: 5px
  list-style-type: none
  
  li
    display: inline-block
    
    label
      font-family: 'Helvetica Neu', 'Helvetica', 'Arial', serif
      background-color: #333
      color: #fff
      padding: 3px;
      opacity: .4
      
      &:hover
        opacity: .6
    
    &.date label
      background-color: date
    &.place label
      background-color: place
    &.person label
      background-color: person
    &.activity label
      background-color: activity
      
    
    input[type=radio]
      position: absolute
      left: -9999px
      
      &:checked + label
        font-weight: bold
        opacity: 1
      
      &:focus + label
        opacity: .8
        
ul.documents
  position: relative
  
.marking-tool-controls
  max-width: 120px
  background-color: #fff
  border: 1px solid #000
  z-index: 20
  
  button
    background-color: #333
    color: #fff
    border: 1px solid #000
    
  &.date button
    background-color: date
  &.place button
    background-color: place
  &.person button
    background-color: person
  &.activity button
    background-color: activity
    
.marking-tool-controls.closed
  z-index: 1
  .annotation
  button[name=delete-mark]
    display:none