$black = #111
$white = #fff
$darkgrey = #1f1f1f
$lightgrey = #d3d3d3
$greyblue = #283f45
$lightblue = #8cd6db
$darkblue = #4ea4ad
$green = #569470
$darkgreen = #38674c
$lightgreen = #73b390
$midgreen = #45815d

$helv = 'Helvetica Neu', 'Helvetica', 'Arial', serif
$mont = 'Montserrat', $helv

button
[role=button]
label
  cursor: pointer

body
  margin: 0
  font-size: 62.5%
  font-family: $helv
  background: $darkgrey
  color: $white
  
#site-container
  margin: 0 auto
  width: 1185px
  
.zooniverse-footer
  clear: both
  width: auto
  
h1
h2
h3
h4
dt
  font-size: 1.2em
  line-height: 1.4
  font-weight: normal
  margin-top: 0
  font-family: $mont

h1
h2
h3
  text-transform: uppercase

p
dd
  font-size: 1.2em
  line-height: 1.4

.ui-helper-reset
.ui-widget
  font-size: 1em
  line-height: 1.4
  font-family: $helv
  
  .ui-widget
    font-size: 1em

button
  background: white
  border: 1px solid #ccc
  padding: 2px
  margin: 1px
  
body
  &:after
    content: "";
    background: url(images/backgrounds/Royal_Irish_Rifles_ration_party_Somme_July_1916.jpg) no-repeat
    background-size: 100%
    opacity: 0.3
    top: 0
    left: 0
    right: 0
    height: 840px
    position: absolute
    z-index: -1