body
  margin: 0
  font-size: 62.5%
  font-family: sans-serif
  
#site-container
  margin: 0 auto
  width: 1200px
  
.zooniverse-footer
  clear: both
  width: auto
  
h1
h2
h3
  font-size: 1em
  text-transform: uppercase

button
  background: white
  border: 1px solid #ccc
  padding: 2px
  margin: 1px