$black = #111
$white = #fff
$darkgrey = #1f1f1f
$lightgrey = #d3d3d3
$greyblue = #283f45
$lightblue = #8cd6db
$darkblue = #4ea4ad
$green = #569470
$darkgreen = #38674c
$lightgreen = #73b390
$midgreen = #45815d

$helv = 'Helvetica Neu', 'Helvetica', 'Arial', serif
$mont = 'Montserrat', $helv

button
[role=button]
  cursor: pointer

body
  margin: 0
  font-size: 62.5%
  font-family: $helv
  
#site-container
  margin: 0 auto
  width: 1200px
  
.zooniverse-footer
  clear: both
  width: auto
  
h1
h2
h3
  font-size: 1em
  text-transform: uppercase

button
  background: white
  border: 1px solid #ccc
  padding: 2px
  margin: 1px