#diaries
  background: $white
  color: $black
  padding: 5em 1em 1em
  
  h2
    font-size: 2.4em
    line-height: 1
    text-transform: none
    margin-bottom: 1.1em
  
  ul
    list-style-type: none
    font-size: 1.2em
    line-height: 1.5
    font-family: $mont
    text-align: center
    margin: 0
    padding: 0
    
    li
      display: inline-block
      vertical-align: top
      padding: 2em 0
      width: 21em
      min-height: 350px
      border: 1px solid $lightgrey
      border: 1px solid rgba(238, 238, 238, 0.9)
      border-radius: 6px
      margin: .8em
      font-size: 1em
      line-height: 2
      text-align: center
      color: #999
      
      div
        min-height: 300px
      
      p
        font-size: 1em
        letter-spacing: .1em
        line-height: 2
      
      .complete
      .name
        text-transform: uppercase
        
      .complete
      .stats
        b
          color: $text_lightgrey
        
      .complete
        font-weight: 400
        b
          font-size: 2.7em
          line-height: 1
      
      .name
        font-weight: 700
        a
          text-decoration: none
          color: #999
      
      .dates
        font-size: 1em
      
      .stats
        text-transform: capitalize
    
    a.button
      @extends .button
      font-size: 1.3em
      line-height: 1.5
      width: 3.2em
      padding: .32em 3.2em
      text-transform: none