#guide
  background: $white
  color: $darkgrey
  padding: 6em 1em 15em
  
  h2
  h3
  h4
    font-size: 1.4em
    line-height: 2
    font-family: $mont
    color: $text_darkgrey
  
  p
    font-size: 1.4em
    line-height: 2
    color: $text_lightgrey
    font-family: $mont
  
  a.button
    @extends .button
    font-size: 1em
    line-height: 1.5
    padding: .25em 2em
  
  label
    font-size: 1.2em
    line-height: 1.5
    font-family: $mont
    text-transform: uppercase
  
  .accordion
    font-size: 1em
    border: none
    
    .ui-accordion-header
    .ui-accordion-content
      border: none
      background: $white
      color: $darkgrey
    
    .ui-accordion-header
      background: $midgreen
      color: $white
      padding-left: 1em
      background-image: none
      
      &:hover
      &:focus
        background: $lightgreen
      
      &.ui-state-active
        background: $darkgreen

.main
  width: 63%
  padding: 0
  margin: 0 1% 0 0
  display: inline-block
  vertical-align: top
  
  > h2
    font-size: 2.4em
    line-height: 1
    text-transform: none
    margin-bottom: 1.1em
  
.sidebar
  width: 35%
  display: inline-block
  vertical-align: top
  margin: 0
  