#guide:after
  content: "";
  background: url(images/backgrounds/Royal_Irish_Rifles_ration_party_Somme_July_1916.jpg) no-repeat
  background-size: 100%
  opacity: 0.1
  top: -200px
  left: 0
  right: 0
  height: 840px
  position: absolute
  z-index: -1
  
#guide
  background: $white
  color: $darkgrey
  padding: 1em
.main
  width: 63%
  padding: 0
  margin: 0 1% 0 0
  display: inline-block
  vertical-align: top
  
.sidebar
  width: 35%
  display: inline-block
  vertical-align: top
  margin: 0