.home
  
  .button
    display: inline-block
    font-size: 1.2em
    font-family: $mont
    line-height: 3
    background: $midgreen
    color: $white
    padding: 0 1em
    border-radius: 3px
    text-decoration: none
    text-transform: uppercase
    
    &:hover
    &:focus
      background: $darkgreen
    
  .description
    width: 100%
    text-align: center
    min-height: 600px
    vertical-align: middle
    background: transparent
    overflow: hidden
    
    h1
      font-size: 1.4em
      font-family: $mont
      margin: 5em auto 0
      opacity: 1
      padding: 0

    div
      font-size: 1.2em
      line-height: 1.6
      opacity: 1
      padding: 2em 0
      width: 40%
      margin: auto
    
    .logos
      width: 100%
      margin-top: 2em
      
      img
        display: inline
        line-height: 75px
        vertical-align: middle
        padding: 0 3em
      
      h2
        color: $lightblue