.home
  .description
    display: table-cell
    width: 1185px
    text-align: center
    height: 400px
    vertical-align: middle
  
    h1
      font-size: 2em
      font-family: $mont
      width: 30%
      margin: auto

    div
      font-size: 1.2em