.home
  
  .button
    @extends .button
    padding: .25em 4em
    
    &:hover
    &:focus
      background: $darkgreen
    
  .description
    width: 100%
    text-align: center
    padding-bottom: 4em
    vertical-align: middle
    background: transparent
    overflow: hidden
    
    h1
      font-size: 1.4em
      font-family: $mont
      margin: 5em auto 0
      opacity: 1
      padding: 0

    div
      font-size: 1.2em
      line-height: 1.6
      font-family: $mont
      opacity: 1
      padding: 2em 0
      width: 50%
      margin: auto