@keyframes fadeIn 
    from 
      opacity: 0
    to 
      opacity: 1


.stack
  position: relative
  width: 100%
  max-width: 1185px
  margin: 0 auto
  
  > div
    @extends #site-container
    visibility: hidden
    position: absolute
    height: 0
    overflow: hidden
    
  > div.active
  > div:target
    position: relative
    visibility: visible
    height: auto
    animation: fadeIn .2s ease-in-out
    
.zootorial-dialog
  font-size: 1em
  line-height: 1.5
  z-index: 10
  
  .header
    font-size: 1.6em
    font-family: $mont
    
  .instruction
  .buttons
    background: $darkgreen
    font-size: 1.2em
  
  .progress .steps .step.active
    background: $darkgreen
    border-color: $darkgreen

.zootorial-focuser
  position: absolute !important
  
.zooniverse-footer
  @extends #site-container
  font-size: 1em
  background: $darkgrey
  padding-top: 1em
  line-height: 1.5
  max-width: 100%
  
  .heading
  .projects
    font-size: 1.2em
    color: $lightblue

.zooniverse-top-bar
  background: $black
  color: $white
  
.site-navigation
  text-align: center
  background: $black
  color: $white
  font-family: $mont
  
  h1
    font-weight: normal
    font-family: Courier, monospace
    font-weight: bold
    font-size: 2em
    line-height: 60px
    vertical-align: middle
    margin: 0
    height: 60px
    overflow: hidden
    
    img
      display: block
    a
      color: $white
      border: none
  
  .header
    padding-right: 40px
    position: relative
    width: 30em
    margin: auto
    
    
    button
      position: absolute
      top: 25px
      right: 10px
      border: none
      background-color: transparent
      text-indent: 10000px
      width: 15px
      height: 15px
      overflow: hidden
      background-image: url(images/icons/menu_slats.png)
  
  .links
    overflow: hidden
    width: 100%
    max-width: 1000px
    margin: 0 auto
  
  ul
    list-style: none
    height: 60px
    overflow: hidden
    transition: height .4s ease-in-out
    margin: 0
    padding: 0
    text-indent: 0
    
    &.closed
      height: 0
    
    li
      display: inline-block
      width: 12%
      margin: 0
      text-align: center
      text-transform: uppercase
      line-height: 45px
      vertical-align: middle
  
  a
    display: inline-block
    text-decoration: none
    color: $lightgrey
    font-size: 1.2em
    line-height: 30px
    vertical-align: middle
    
    &[aria-selected=true]
      border-top: 1px solid $darkgreen
      border-bottom: 1px solid $darkgreen
      color: $white
      font-weight: bold
    
    &:hover
    &:focus
      color: $white
      
.logos
  font-size: 1.2em
  line-height: 1.6
  font-family: $mont
  text-align: center
  width: 100%
  padding-top: 2em
  clear: both
  background: $darkgrey

  img
    display: inline
    line-height: 75px
    vertical-align: middle
    padding: 0 6em 0 3em

  p.byline
    color: $lightblue

  p.privacy
    width: 55%
    margin: auto
    text-align: left
    border-top: 1px solid grey
    
    a
      color: $white
      text-decoration: none
      text-align: left

      &:hover
      &:focus
        text-decoration: underline