.stack
  position: relative
  
  > div
    @extends #site-container
    display: none
    
  > div.active
  > div:target
    display: block
  
.zooniverse-footer
  @extends #site-container
  font-size: 1em
  background: $darkgrey
  padding-top: 1em
  line-height: 1.4
  
  .heading
  .projects
    font-size: 1.2em
    color: $lightblue

.zooniverse-top-bar
  background: $black
  color: $white
  
.site-navigation
  text-align: center
  background: $black
  color: $white
  font-family: $mont
  
  h1
    font-weight: normal
    font-size: 2em
    line-height: 60px
    vertical-align: middle
    margin: 0
    height: 60px
    overflow: hidden
  
  .header
    padding-right: 40px
    position: relative
    width: 30em
    margin: auto
    
    
    button
      position: absolute
      top: 25px
      right: 10px
      border: none
      background-color: transparent
      text-indent: 10000px
      width: 15px
      height: 15px
      overflow: hidden
      background-image: url(images/icons/menu_slats.png)
  
  .links
    overflow: hidden
    width: 800px
    margin: 0 auto
    min-height: 60px
  
  ul
    list-style: none
    height: 60px
    overflow: hidden
    transition: height 1s
    margin: 0
    padding: 0
    text-indent: 0
    
    &.closed
      height: 0
    
    li
      display: inline-block
      width: 13%
      margin: 0
      text-align: center
      text-transform: uppercase
      line-height: 45px
      vertical-align: middle
  
  a
    display: inline-block
    text-decoration: none
    color: $lightgrey
    font-size: 1.2em
    line-height: 30px
    vertical-align: middle
    
    &.active
      border-top: 1px solid $darkgreen
      border-bottom: 1px solid $darkgreen
      color: $white
      font-weight: bold
    
    &:hover
    &:focus
      color: $white